extends layout

block append stylesheets
  link(href='/public/css/whitelist.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='/public/js/config.js');
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  | <script type='text/javascript'>
  |   $('img.default').each(function() {
  |     this.src = DEFAULT_PICTURE;
  |   });
  | </script>

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(target='_blank',href='/') Chat
      li
        a(target='_blank',href='/memegeist') Memegeist
      li
        a(href='/history',target='_blank') History
      li
        a(href='/logout') Logout

    |Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}

block content
  .row-fluid
    .span4
      h3 #{pending.length} Pending
      table
        each user, index in pending
          tr(class='#{index % 2 ? 'odd' : 'even'}')
            td
              - if (user.picture) {
                img.avatar(src='#{user.picture}')
              - } else {
                img.avatar.default 
              - }
              span.user #{user.name}
              - if (user.email)
                span.detail &nbsp;&nbsp;#{user.email}
            td
              a.accept(href='/accept/#{user.id}') Accept
            td
              a.ban(href='/ban/#{user.id}') Ban
    
    .span4
      h3 #{accepted.length} Whitelisted
      table
        each user, index in accepted
          tr(class='#{index % 2 ? 'odd' : 'even'}')
            td
              - if (user.picture) {
                img.avatar(src='#{user.picture}')
              - } else {
                img.avatar.default 
              - }
              span.user #{user.name}
              span.detail &nbsp;&nbsp;accepted by #{userMap[user.acceptedBy].name}
            td
              a.ban(href='/ban/#{user.id}') Ban

    .span4
      h3 #{banned.length} Blacklisted
      table
        each user, index in banned
          tr(class='#{index % 2 ? 'odd' : 'even'}')
            td
              - if (user.picture) {
                img.avatar(src='#{user.picture}')
              - } else {
                img.avatar.default 
              - }
              span.user #{user.name}
              span.detail &nbsp;&nbsp;banned by #{userMap[user.bannedBy].name}
            td
              a.accept(href='/accept/#{user.id}') Accept
