extends layout

block append stylesheets
  link(href='/public/css/whitelist.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='/public/js/config.js');
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  script(src='/public/js/makisu.js');
  | <script type='text/javascript'>
  |   $('img.default').each(function() {
  |     this.src = DEFAULT_PICTURE;
  |   });
  |$( '.list' ).makisu({
  | selector: 'dd',
  |  overlap: 0.6,
  |  speed: 0.85
  |});
  $( '.list' ).makisu( 'open' );
  | </script>

block header
  #header.row-fluid
    ul.inline.unstyled.pull-right#menu
      li
        a(target='_blank',href='/') Chat
      li
        a(target='_blank',href='/memegeist') Memegeist
      li
        a(href='/history',target='_blank') History
      li
        a(href='/map',target='_blank') Map
      li
        a(href='/logout') Logout

    |Currently logged in as 
    span#loggedUser.username #{everyauth.google.user.name}

block content
  dl.list.pending
    dt #{pending.length} Pending
    - if (pending.length>0) {
        each user, index in pending
          dd
            - if (user.picture) {
              img.avatar(src='#{user.picture}')
            - } else {
              img.avatar.default 
            - }
            - if (user.name)
              span.user #{user.name}
            - if (user.email)
              span.detail &nbsp;&nbsp;#{user.email}
            a.accept(href='/accept/#{user.id}') Accept
            a.ban(href='/ban/#{user.id}') Ban
    -}else{
        dd
         |List is empty
    -}
  dl.list.whitelist
    dt #{accepted.length} Whitelist
    - if (accepted.length>0) {
        each user, index in accepted
          dd
            - if (user.picture) {
              img.avatar(src='#{user.picture}')
            - } else {
              img.avatar.default 
            - }
            span.user #{user.name}
            span.detail &nbsp;&nbsp;accepted by #{userMap[user.acceptedBy].name}
            a.ban(href='/ban/#{user.id}') Ban
    -}else{
        dd
         |List is empty
    -}
  dl.list.blacklisted
    dt #{banned.length} Blacklisted
    - if (banned.length>0) {
        each user, index in banned
          dd
            - if (user.picture) {
              img.avatar(src='#{user.picture}')
            - } else {
              img.avatar.default 
            - }
            - if (user.name)
              span.user #{user.name}
            span.detail &nbsp;&nbsp;banned by #{userMap[user.bannedBy].name}
            a.accept(href='/accept/#{user.id}') Accept
    -}else{
        dd
         |List is empty
    -}